# Infraestrutura e binários
infra/keycloak/keycloak-*/
infra/minio/mc.exe
infra/mailhog/MailHog.exe
infra/nginx/nginx-*/
backend/
logs/
*.exe
*.bat
*.sh

# Frontend — artefatos de build e dependências
frontend/node_modules/
frontend/.angular/

# Arquivos temporários
*.tmp
*.log
.DS_Store
